@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #272829;
  justify-content: center;
  align-items: center;
  display: flex;
  width: inherit;
  height: 100vh;
  color: whitesmoke;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  width: max-content;
}

.box {
  background-color: #dad8d8;
  width: max-content;
  height: max-content;
  border-radius: 10%;
  margin: 1vw;
  transition: ease 0.5s;
  display: flex;
  justify-items: center;
  align-content: center;
}

.box:hover {
  transition: ease 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

.box>button {
  height: 9vw;
  width: 9vw;
  background: none;
  border: none;
  font-size: 700%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round",sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-wrap: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media screen and (max-width:800px) {
  .box{
    padding: 5px;
  }
  .box>button{
    height: 16vw;
    width: 16vw;
    font-size: 450%;
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round",sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 5vh;
}

.header>p {
  margin: 5px;
  font-size: 8em;
}

@media screen and (max-width:800px) {
  .header>p {
    font-size: 2.5em;
  }
}

.tic {
  color: blue;
}

.tac {
  color: red;
}

.toe {
  color: yellow;
}
